@use './variables' as *

@mixin container
  margin: 0 auto
  max-width: $container-width
  padding: 0 $container-padding

@mixin flex-center
  display: flex
  align-items: center
  justify-content: center

@mixin transition($props: all)
  transition: $props $transition-base ease

@mixin mobile
  @media (max-width: #{$bp-mobile})
    @content
