$color-orange-1: #FF9E00
$color-orange-2: #FFCB78
$color-orange-3: #FF9100
$color-grey-1: #848484
$color-grey-2: #515151
$color-grey-3: #cccccc
$color-grey-4: #ece8e8
$color-grey-5: #fffdfd
$color-grey-6: #fff8f8
$color-white: #fff
$color-black: #000
$color-border: #eee
$color-title:#2B1900
$container-width: 1440px
$container-padding: 50px
$container-padding-mobile: 20px

$header-height: 91px
$transition-base: 0.2s
$border-radius-card: 40px

$bp-mobile: 639px
$bp-tablet: 1024px

