@use '../variables' as *
@use '../mixins' as *

.photos
  &__inner
    max-width: 1440px
    margin: 0 auto
    padding: 90px 50px 0 50px
    background-color: $color-grey-2
  &__title
    width: 100%
    max-width: 400px
    padding: 16px
    margin: 30px auto
    text-align: center
    color: $color-white
    font-size: 37px
    font-weight: 400
    background-color: $color-orange-1
    box-shadow: 8px 10px 12px rgba(0, 0, 0, 0.22)
    border-radius: 20px
  &__card
    padding: 20px
    border-radius: 35px
    background-color: #FFD28A99 
  &__img
    margin: 0 auto
  &__swiper-pagination
    margin-top: 20px
    text-align: center

@media (max-width: 880px)
  .photos
    &__items
      flex-wrap: wrap
      justify-content: center

@media (max-width: #{$pb-small})
  .photos
    &__inner
      padding: 20px
    &__title 
      padding: 8px
      font-size: 25px
